<% layout("/layouts/boilerplate") %>
<body>
    <h1 class="offset-5 mt-3">Add new Listing</h1>
    <div class="row">
        <div class="col-8 offset-2">
            <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" id="title" placeholder="Enter Title" class="form-control" required>
                    <div class="invalid-feedback">Not a Good Title</div>
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter description" id="desc"
                        class="form-control" required></textarea>
                    <div class="invalid-feedback">Enter A Good description</div>
                </div>
                <!-- <div class="mb-3">
                    <label for="img" class="form-label">Image</label>
                    <input type="text" id="img" name="listing[image][url]" placeholder="Enter Url/Link" class="form-control">
                </div> -->
                <div class="mb-3">
                    <label for="img" class="form-label">Image</label>
                    <input type="file" id="img" name="listing[image]" class="form-control" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input id="price" type="number" name="listing[price]" placeholder="Enter Price" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input id="country" type="text" name="listing[country]" placeholder="Enter Country" class="form-control" required>
                        <div class="invalid-feedback">Country Name should be valid</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input id="location" type="text" name="listing[location]" placeholder="Enter Location" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <button class="btn add-btn mb-3">Add</button>
            </form>
        </div>
    </div>
</body>